<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
      </tr>
  </thead>
    <tbody>

        <tr th:each="event : ${events}">
            <td></td>
            <td th:text="${event}"></td>

        </tr>
    </tbody>
</table>


</body>
</html>